header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: powderblue;
}